.button {
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  padding: 1rem;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--small-grid);
  color: var(--text-color-grid);
}

.button:active {
  background-color: black;
  color: var(--text-color-grid);
}
